body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #27292f;
}

header nav.header_navigation ul {
  display: flex;
  margin: 2em 0;
  padding: 0;
}

header nav.header_navigation ul li {
  display: flex;
  margin: 5px;
  position: relative;
}

header nav.header_navigation ul li a {
  border-radius: 50%;
  border: 1px solid transparent;
}

header nav.header_navigation ul li a:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #00c49d;
  display: block;
  border-radius: 50%;
  margin: 2px;
}

header nav.header_navigation ul li.active a {
  border: 1px solid #00ab89;
}

header nav.header_navigation ul li:after {
  content: '';
  width: 20px;
  height: 1px;
  display: block;
  background: #00c49d;
  transform: translate(95%, -50%);
  position: absolute;
  top: 50%;
}

header nav.header_navigation ul li:last-child:after {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: left;
  max-width: 1020px;
  margin: 0 auto;
}

main section .wrapper {
  justify-content: center;
}

.image__container {
  margin: 2em;
}

.image__container .wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 325px;
}

.image__container .wrapper img {
  width: auto;
  max-width: 100%;
}

.image__container .wrapper .translation__container {
  color: #f3f3f3;
  width: 390px;
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
}

.image__container .wrapper .translation__container p {
  margin: 0;
  font-size: 24px;
  line-height: 50px;
}

.image__container .wrapper .microphone_line {
  max-width: 100%;
  height: 50px;
  width: 390px;
  margin-top: 10px;
  background: #fff url(https://speakit.netlify.app/img/microphone.svg) 1% 50% no-repeat;
  background-size: 25px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.image__container .wrapper .microphone_line span {
  padding: 0 0 0 2em;
}

.words__container .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.words__container .wrapper .word_item {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  width: calc(20% - 2em);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  align-items: center;
  min-width: 150px;
}

.words__container .wrapper .word_item p {
  margin: 0;
  padding-left: 2.5em;
  line-height: 1.5em;
  font-size: 18px;
}

.words__container .wrapper .word_item p.translation {
  display: none;
}

.words__container .wrapper .word_item svg {
  position: absolute;
  width: 50px;
  left: 0;
  top: 50%;
  transform: translate(0px, -50%);
  fill: #3a4a47;
}

.words__container .wrapper .word_item.checked {
  background: #00f7c6;
  box-shadow: inset 0px 0px 0px 1px #00c49d;
}

.words__container .wrapper .word_item audio {
  display: none;
}

.buttons__container .wrapper {
  flex-wrap: wrap;
}

.buttons__container .wrapper .btn {
  background: #00c49d;
  display: flex;
  padding: 0.5em 1em;
  flex: 1 0 auto;
  margin: 10px;
  justify-content: center;
  font-size: 1.5em;
  line-height: 1;
  cursor: pointer;
  border-radius: 5px;
}

.buttons__container .wrapper .btn:hover {
  background: #009174;
}

.buttons__container .wrapper .btn.btn_speach {
  flex-grow: 2;
}

.buttons__container .wrapper .btn.btn_speach.active {
  background: #009174;
}

.stat__container {
  display: none;
  position: fixed;
  top: 0;
  background: #333;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.stat__container .wrapper {
  width: 80%;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.stat__container .wrapper .word_item {
  display: flex;
}

.stat__container .wrapper .word_item audio {
  display: none;
}

.stat__container .wrapper .word_item svg {
  width: 40px;
}

.stat__container .wrapper .result_count_header {
  font-weight: bold;
}

.stat__container .wrapper .result_count_header span {
  display: inline-block;
  background: red;
  padding: 0.5em;
  width: 1em;
  height: 1em;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  margin: 0 0 0 0.5em;
}

.stat__container .wrapper .result_count_header span.success {
  background: #00c49d;
}

.stat__container .wrapper .btn {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.5em 1em;
  display: inline-block;
  margin-right: 0.5em;
}

.stat__container .wrapper .btn:hover {
  background: #00c49d;
}
